*{
    margin: 0;
    padding: 0;  
    background-color: #f5cac3;
}

img{
    width: 500px;
    height: 500px;
}

h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px 40px;
    font-size: 50px;
    color: #84a59d;
}

.container{
    display: flex;
    padding-top: 40px;
    justify-content: center;
}

.container_buttons{
    display: flex;
    flex-direction: column;
    background-color: #84a59d;
    color: white;
}

.container_buttons button{
    padding: 20px;
    font-size: 20px;
    background-color: #84a59d;
    color: white;
}

button{
    height: 100%
}


.container_display{
    display: flex;
    flex-direction: row;
}

.container_display button{
    color: white
}

.nextButton{
    background-color: #84a59d;
    font-size: 70px;
    padding: 50px;
}